.game-content .game-field  {
    border-collapse: separate;
	border-spacing: 0;
	margin: auto;
}
.game-content .game-field  td {
	border-top: 3px solid #f2994a;
	border-left: 3px solid #f2994a;
	padding: 20px;
}
.game-content.observer .game-field  td {
    border-color: #e0e0e0;
}
.game-content .game-field td:first-child {
	border-left: none;	
	padding-left: 0;	
}
.game-content .game-field tr:first-child td{
	border-top: none;	
	padding-top: 0;
}
.game-content .game-field td:last-child {	
	padding-right: 0;	
}
.game-content .game-field tr:last-child td {
	padding-bottom: 0;
}

.game-content .gamer-info {
	width: 100%;
	height: 55px;
	margin-bottom: 19px;
	color: #4f4f4f;

}
.game-content .gamer-info .gamer {
    width: 50%;
    position: relative;
    display: inline-block;
}
.game-content .gamer-info .gamer.winner {
	color: #f2994a;
	font-weight: bold;
}
.game-content .gamer-info .gamer div {
	height: 22px;
	display: block;
	width: auto;
	float: left;
}
.game-content .gamer-info .gamer > div {
	padding: 15px 0;
	height: 45px;
}
.game-content .gamer-info .gamer > div.active {
	border-bottom: 1px solid #4f4f4f;
}
.game-content .gamer-info .gamer div span {  
	line-height: 22px;  
	display: block;
	float: left;
}
.game-content .gamer-info .gamer .cell {
	display: inline-block;
	margin: 0  0 0 10px;
}
.game-content .gamer-info .gamer.naught div {
	float: right;
}
.game-content .gamer-info .gamer.naught .cell {
	margin: 0 10px 0 0;
}
.game-content .gamer-info .gamer.naught div span {
	float: right;	
}
.game-content .time {
	display: inline-block;
	width: 100%;
	margin: 37px auto 0;
	text-align: center;
	font-size: 30px;
	color: #a9a9a9;

}
.game-content.observer  .gamer-info
{
	color: #a9a9a9;
}

.button {
	width: 134px;
	height: 34px;
	background-color: #009688;
	color: #ffffff;
	line-height: 34px;
	margin: 37px auto 0;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}
.button a{
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	text-align: center;
}